body { 
    margin:0; 
    padding: 0;
}

a:focus,button:focus,input:focus,textarea:focus {outline: none;}

:root {
    --primary-blue: #2962ff;
    --secondary-blue: #2962ff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    height: 100%;
}


.strikethrough {
    text-decoration: line-through;
    color: #D8D8D8;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--primary-blue);
    color: #FFFFFF;
    overflow: hidden;
    max-width:600px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);

}

.eclipse {
    position: absolute;
    transform: translate(140%, -60%);
    z-index: 0;
}
 
.header {
    display: flex;
    flex-direction: row;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    
}

h1 {
    font-size: 24px;
    margin-left: 19px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 400;
}

.header img {
    margin-top: px;
}

.body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: #FFFFFF;
    border-radius: 25px 25px 0px 0px;
    color: rgba(0, 0, 0, 0.95);
    font-size: 20px;
    line-height: 23px;
    box-shadow: 0px -5px 30px -2px rgba(0,0,0,0.28);
    z-index: 1;
    
}

.list-area {
    max-height: 58vh;
    overflow-y: auto;
    margin-top: 20px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

input[type="checkbox"] { 
    cursor: pointer;
    
}


.checkstyle {
    margin-right: 13px;
    transform: scale(1.5);
    width: 1em;
    height: 1em;
    background-color: white;
    border-radius: 3px;
    vertical-align: middle;
    border: 1px solid rgb(5, 5, 5);
    -webkit-appearance: none;
    
}

.checkstyle:checked {
    background-color: rgb(55, 235, 70); 
}


ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding-left: 0;

}

li {
    display: flex;
    width: 100%;
    font-size: 20px;
    border-bottom: 1px solid #ECECEC;
    padding-bottom: 10px;
    padding-top: 15px;
    margin-right: auto;
}


#removeItem {
    color: #A3A2A2;
    font-size: 16px;
    border: none;
    background-color: #ffff;
    width: 85%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: end;
}

.input-container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 47px;
    background-color: white;
}

#userInput {
    height: 32px;
    border: none;
    border-bottom: 1px solid #E5E5E5;
    width: 78%;
    color: rgba(0, 0, 0,);
    font-size: 20px;
    line-height: 5px;
}

.input-container button {
    display: inline-flex;
    justify-content: space-around;
    height: 60px;
    width: 60px;
    border: none;
    background-color: var(--primary-blue);
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);
    border-radius: 50%;
    color: #fff;
    
}

button::focus {
    outline:none !important;
}